/**********
 Reset
***********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}

/**********
 Text
***********/
html {
    font-size: 10px;
}

.hero p {
    color: white;
    font-size: 2.5rem;
}

.hero img {
    width: 200px;
}

@media screen and (min-width: 375px) {
    .hero img {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    .hero img {
        width: 655px;
    }
}

body,
h1, h2, h3, h4, h5, h6,
p, a,
li, ul {
    font-family: 'Avenir', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
    margin: 30px 0;
}

li, li > *, dt, dd {
    margin: 10px 0;
}

pre, code {
    font-family: Consolas, 'Courier New', monospace;
}

h1 {font-size: 4rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.6rem;}
h5 {font-size: 1rem;}
h6 {font-size: 1rem;}

p, a, li, dt, dd, tr, th, code {
    font-size: 1.8rem;
}

a {
    color: #2973b7;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid white;
}

a.cta {
    display: inline-block;
    text-align: center;
    width: 100%;
}

$theme-brand: #393782;

.index-head-container {
    background: $theme-brand;
    padding: 25px 25px 17px 25px;
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: $theme-brand;

    .nav-link {
        font-size: 1.6rem;
        margin-right: 10px;
        font-weight: 200;
        color: white;
    }

    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        section {
            margin-bottom: 20px;
        }
    
        span {
            display: none;
        }
    }
}

.hero {
    background: $theme-brand;
    padding-top: 50px;
    text-align: center;

    & > h1 {
      font-weight: 600;
    }
}

.body-container {
    padding: 25px;
    max-width: 850px;
    margin: 0 auto;
  
    .contributors {
      max-width: 400px;
      margin: 100px auto 0;
    }
}

.user-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

a.user-icon {
    margin-left: 25px;
    color: white;
    &:hover {
      color: #00bff3;
      border-bottom: none;
    }
}

.button-container {
    border: 1px solid $theme-brand;
    border-radius: 3px;
    padding: 25px;
    font-size: 2rem;
    color: $theme-brand;
    display: inline-block;
    transition: all 0.3s ease;
  
    &:hover {
      color: white;
      background: $theme-brand;
    }
}

.document-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 300px 1fr;
  
    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        height: inherit;
    }
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    @media screen and (max-width: 600px) {
        order: 3;
    }
}

ol.toc {
    list-style: none;
    padding: 12px;

    li a {
        color: black;
        font-size: 2.0rem;
    }

    li li a {
        color: #2973b7;
        font-size: 1.8rem;
    }

    li li li {
        margin: 0px 0px 0px 12px;

        a {
            font-size: 1.6rem;
        }
    }

    ol {
        list-style: none;
    }
}

.document-content {
    grid-column: 2 / 2;
    padding: 25px;

    ul {
        margin-left: 24px;
    }

    ol {
        margin-left: 24px;
    }

    svg {
        width: 100%;
    }

    .gatsby-highlight + p a {
        position: relative;
        top: -10px;
        padding: 10px 20px;

        border: 1px solid #393782;
        border-radius: 3px;
        font-size: 2rem;
        color: #393782;
        display: inline-block;
        transition: all 0.3s ease;

        &:hover {
            color: white;
            background: rgb(57, 55, 130);
        }
    }
}

ol.breadcrumb {
    list-style: none;
    margin-left: 0px;

    li {
        display: inline;
        &:after {
            content: "/";
            padding: 0px 8px;
        }
        &:last-child:after {
            content: "";
        }
    }
}

ol.child-links {
    list-style: none;
}

.tryit-container {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: 66.67px 50px 0.7fr 0.3fr;

    .index-head-container {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .command-bar {
        grid-row: 2;
        grid-column: 2;

        .command-button {
            height: 40px;
            width: 100px;
            margin: 5px;

            &.right {
                float: right;
            }
        }
    }

    .editor {
        grid-row: 3;
        grid-column: 2;
        margin: 5px;
        overflow: hidden;
        border:1px solid #ccc;

        #container {
            height: 100%;
        }
    }

    .output {
        grid-row: 4;
        grid-column: 2;
        margin: 5px;
        padding: 5px;
        font-size: 1.5em;
        overflow: scroll;
        background: #eee;
    }
}